<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Thank You!</title>
</head>
<body>
<p> The hour with more registers is: <%= hour %></p>
<p> The week day with more registers is: <%= week_day %></p>
</body>
</html>